{% load socialaccount %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Doleule</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about_company/">About</a></li>
                        <li class="nav-item dropdown" id="categories-nav">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/shopping/">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for c in categories %}
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/shopping/category/{{c.slug}}/">{{c}}({{c.post_set.count}})</a></li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="http://127.0.0.1:8000/shopping/category/no_category/">기타({{no_category_post_count}})</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/about_me/">My Page</a></li>
                    </ul>
                    <form class="d-flex">
                        <ul class="navbar-nav ml-auto">
                          {% if user.is_authenticated %}
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" role="button" data-toggle="dropdown">
                                  {% if user.socialaccount_set.all.0.get_avatar_url %}
                                  <img class="rounded-circle" width="25px"
                                    src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                                  {% else %}
                                  <img class="rounded-circle" width="25px"
                                       src="https://doitdjango.com/avatar/id/420/79c3d17f098ae0df/svg/{{user.email}}/">
                                  {{user.username}}
                                  {% endif %}
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a role="button" class="btn btn-primary" href="/accounts/logout/">
                                    Log Out
                                  </a>
                              </div>
                          </li>
                          {% else %}
                          <li class="nav-item">
                          <a role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log In
                          </a>
                        </li>
                          {% endif %}
                        </ul>
                        <a role="button" class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                href="{% provider_login_url 'google' %}">
                <i class="fab fa-google"></i>&nbsp; &nbsp; Log in with Google</a>
            <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i class="far fa-envelope"></i>&nbsp; &nbsp;Log in with E-mail</a>
          </div>
          <div class="col-md-6">
            <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup"><i class="far fa-envelope"></i>&nbsp; &nbsp;Sign with E-mail</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
