{% extends 'shopping/base.html' %}
{% block main-area %}
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ post.head_image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{ post.hook_text }}</div>
                        <h1 class="display-5 fw-bolder">{{ post.title }}</h1>
                        {% if post.category %}
                            <span class="mt-3 mb-3 badge bg-secondary float-left">{{post.category}}</span>
                        {% else %}
                            <span class="mt-3 mb-3 badge bg-secondary float-left">미분류</span>
                        {% endif %}
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>$40.00</span>
                        </div>
                        <p class="mb-5 lead">{{ post.content }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}