{% extends 'shopping/base.html' %}
{% load crispy_forms_tags %}
{% block main-area %}
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ post.head_image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{ post.hook_text }}</div>
                        <h1 class="display-5 fw-bolder">{{ post.title }}</h1>
                        {% if post.category %}
                            <span class="mt-3 mb-3 badge bg-secondary float-left">{{post.category}}</span>
                        {% else %}
                            <span class="mt-3 mb-3 badge bg-secondary float-left">기타</span>
                        {% endif %}
                        <div class="fs-5 mb-5">
                            <!-- Product price-->
                            <p class="fw-bold">{{ post.price }}원</p>
                        </div>
                        <p class="mb-5 lead">{{ post.get_content_markdown | safe }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Comments section-->
                    <h4 class="fw-bold">후기</h4>
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                <form class="mb-4" id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ comment_form | crispy }}
                                    </div><br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-outline-dark" href="#"
                                data-bs-toggle="modal" data-bs-target="#loginModal">Log in and leave a comment</a>
                                {% endif %}
                                <!-- Single comment-->
                                {% if post.comment_set.exists %}
                                {% for comment in post.comment_set.all %}
                                <div class="d-flex" id="comment-{{comment.pk}}">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="60px"/>
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                                            <small class="text-muted">{{comment.created_at}}</small></div>
                                        <p>{{comment.content | linebreaks}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

{% endblock %}